.heading-allcaps {
    text-transform: capitalize;
}

.buy-button {
    width: 100%;
    height: 40px;
    border: 1px solid #FA6402;
    border-radius: 5px;
    background-color: #FA6402;
    background-image: linear-gradient(red, orange);
    color: white;
    font-size: medium;
    margin-top: 20px;
}

.price-card{
    
    border-color: 2px solid orangered;
    border-radius: 10px;
    background-color: papayawhip;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
    padding: 30px;
    width: 200px;

  }